doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='style/images/favicon.png')
    title= title
    // Bootstrap core CSS
    link(href='style/css/bootstrap.min.css', rel='stylesheet')
    link(href='style/css/plugins.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    link(href='style/css/color/blue.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    link(href='style/type/icons.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    #preloader
      #status
        .spinner
    .body-wrapper
      .navbar.navbar-default.default
        .container
          .navbar-header
            .basic-wrapper
              a.btn.responsive-menu(data-toggle='collapse', data-target='.navbar-collapse')
                i
              .navbar-brand
                a(href='/', style='color:#006ba0')
                  Team TeamStarter
                  // img.logo-light(src='#', srcset='style/images/logo.png 1x, style/images/logo@2x.png 2x', alt='')
                  // img.logo-dark(src='#', srcset='style/images/logo-dark.png 1x, style/images/logo-dark@2x.png 2x', alt='')
              // /.navbar-brand
            // /.basic-wrapper
          // /.navbar-header
          nav.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Inicio
              li
                a(href='/startups') Startups
              li
                a(href='/emprendedores') Emprendedores
              li
                a(href='/registro') Registro/Login
            // /.navbar-nav
          // /.navbar-collapse
        // /.container
      // /.navbar
      .light-wrapper
        .container.inner
          .section-title.text-center
            h3 Conoce los equipos registrados
            p.lead elige con quienes quieres trabajar
          .timeline
            .date-title
              span Tecnología
            .row
              each thing in data
                .col-sm-6.timeline-item
                  .arrow
                  .post-content
                    .row
                      .col-sm-3.col-md-5
                        figure
                          a
                            .text-overlay
                              .info
                                span .
                            img(src='style/images/art/tb2.jpg', alt='')
                      // /column
                      .col-sm-9.col-md-7
                        h4.post-title
                          a(href='/startup/#{thing.nombre}')=thing.nombre
                        .meta
                          span.date
                            a.link-effect(href='') 04 Noviembre
                          span.category
                            a.link-effect(href='')=thing.rubro
                          span.comments
                            a.link-effect(href='')
                              i.icon-user-1
                              |  4
                        p= thing.resumen
                        a.more.link-effect(href='/startup/#{thing.nombre}') Ver Más »
                      // /column
                  // /.row
                // /.post-content
              // /column
          .timeline
            .date-title
              a(href='/startup/crear')
                span Registra tu startup
          // /.timeline
        // /.container
      // /.light-wrapper


    script(src='style/js/jquery.min.js')
    script(src='style/js/bootstrap.min.js')
    script(src='style/js/plugins.js')
    script(src='style/js/jquery.themepunch.tools.min.js')
    script(src='style/js/scripts.js')